{% extends 'layout.html' %}

{% block content %}

<div class="container-md mt-5">
    <div class="card text-bg-dark my-5">
        <div class="card-header text-center">Master</div>
        <div class="card-body">
            <div class="row">
                <select class="bg-dark text-white" name="masters" id="mastersSelect">
                    {% for master in masters %}
                    <option value="{{master.id}}">{{master.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row">
                <div class="col-auto"></div>
                <div class="col-auto">
                    <div class="row m-3" id="masterInfo">
                        <h4 id="masterName"></h4>
                        <div class="row row-cols-2 row-cols-lg-4 align-items-center">
                            <div class="col my-1">
                                <label>ID: <span id="masterID"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Logins: <span id="masterLogins"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Saint Quartz: <span id="masterSQ"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Un Spirit Origin: <span id="masterUnregisteredSpiritOrigin"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Level: <span id="masterLevel"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Device: <span id="masterDevice"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Paid Saint Quartz: <span id="masterPaidSQ"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Recovery Number: <span id="masterRecoveryNumber"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Birthday: <span id="masterBDay"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Download: <span id="masterDownloadDate"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Rare Prisms: <span id="masterRarePrisms"></span></label>
                            </div>
                            <div class="col my-1"></div>
                            <div class="col my-1">
                                <label>Gender: <span id="masterGender"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Last Access: <span id="masterLastAccess"></span></label>
                            </div>
                            <div class="col my-1">
                                <label>Mana Prisms: <span id="masterManaPrisms"></span></label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <a class="btn btn-primary" href="/masters/new-master">New Master</a>
        </div>
    </div>
    <div class="card text-bg-dark my-5">
        <div class="card-header text-center">Master Servants</div>
        <div class="card-body">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <button id='rarityButton1' type="button" class="btn btn-outline-dark btn-sm active rarity_button"
                        data-bs-toggle="button" aria-pressed="true" value="★">★
                </button>
                <button id='rarityButton2' type="button" class="btn btn-outline-dark btn-sm active rarity_button"
                        data-bs-toggle="button" aria-pressed="true" value="★★">★★
                </button>
                <button id='rarityButton3' type="button" class="btn btn-outline-dark btn-sm active rarity_button"
                        data-bs-toggle="button" aria-pressed="true" value="★★★">★★★
                </button>
                <button id='rarityButton4' type="button" class="btn btn-outline-dark btn-sm active rarity_button"
                        data-bs-toggle="button" aria-pressed="true" value="★★★★">★★★★
                </button>
                <button id='rarityButton5' type="button" class="btn btn-outline-dark btn-sm active rarity_button"
                        data-bs-toggle="button" aria-pressed="true" value="★★★★★">★★★★★
                </button>
            </div>

            <div>
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    {% for servant_class in ['Saber', 'Archer', 'Lancer', 'Rider', 'Caster', 'Assassin', 'Berserker',
                    'Ruler', 'Avenger', 'Moon Cancer', 'Alter Ego', 'Foreigner', 'Pretender', 'Shielder'] %}
                    <button id='classButton{{loop.index}}' type="button"
                            class="btn btn-outline-dark btn-sm active servant_class_button" aria-pressed="true"
                            data-bs-toggle="button" value="{{servant_class}}">
                        <img src="{{ url_for('static', path='/fgo/images/' + servant_class|lower|replace(' ','') + '.webp') }}"
                             alt="" class="classIconFilter">
                    </button>
                    {% endfor %}
                </div>
            </div>

            <div class="table-responsive">
                <table id="servants_table" class="table table-dark table-hover overflow-auto">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Class</th>
                        <th scope="col">Rarity</th>
                        <th scope="col">Level</th>
                        <th scope="col">Bond</th>
                        <th scope="col">NP</th>
                        <th scope="col">Skills</th>
                        <th scope="col">Summon</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>

            </div>


            <a class="btn btn-primary" href="/servants/new-servant">Add a new Servant!</a>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/fgo/js/home_script.js') }}"></script>
{% endblock %}