body {
    background-color: #15151E;
    background-size: auto;
    table-layout: fixed;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.form-control {
    color: whitesmoke;
    background-color: #343a40;
    border: 1px solid grey;
}

.form-control:focus {
    color: whitesmoke;
    background-color: #495057;
}

.strike-through-td {
    text-decoration: line-through;
}

.dataTables_wrapper .dataTables_filter {
    float: left
}

.rarity_button {
    font-size: 12pt;
    border: none;
    background: none;
    box-shadow: none;
}

.rarity_button:hover {
    color: white !important;
}

.rarity_button.active {
    color: yellow;
}

.rarity_button:focus-visible {
  outline: 1px solid yellow;
  outline-offset: 3px;
}

.rarity_button.active:hover {
    color: yellow !important;
}

.servant_class_button {
    background: none;
}

.servant_class_button:focus-visible {
  outline: 1px solid yellow;
  outline-offset: 3px;
}

.classIconFilter {
    height: 40px;
    width: 40px;
}
